<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.algebra.zatoninfo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZatonInfo">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBEuv0TMXmi4FpBW2UNtCU2iYrJ7emnFl8" />

        <provider
            android:name=".BusTimetableProvider"
            android:authorities="hr.algebra.zatoninfo.api.provider.bus"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name=".ZatonProvider"
            android:authorities="hr.algebra.zatoninfo.api.provider"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".ZatonService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".ZatonReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.ZatonInfo.NoActionBar" />
        <activity
            android:name=".ui.SplashScreenActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>